background-color{
  background-color: rgb(0, 5, 5);(0, 100%, 70%);
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: solid rgba(251, 119, 12, 0.905);
  color: rgba(53, 222, 240, 0.929);
}
<!--or!-->
nav a:hover {
  color: var(--light);
}

nav a {
  background-color: black;
  color: var--navlink- rgb 247, 250, 250
  font-weight: bold;
  text-decoration: solid;
}
.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  }

.box{
  width:20px;
  height:10px;
  font-size: medium;
  text-align: center;
  border-radius: 10;
}
#box1{
  background-color: aqua;(0, 100%, 70%);
}

#box2{
  background-color: aqua;(0, 100%, 70%);
}
#box3{
  background-color: aqua;(0, 100%, 70%);
}

 {
  
  overflow: hidden;
  .float-right{
    float:right;
  }
  
  .right-space{
    padding-right:10px;
  }

.topnav a.active {
  background-color: #c509ef;
  color: white;
}

html * {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  padding: 10px;
  background: #04f631a8;
  color: #080000;
  text-align: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

}
footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #cffd04d4;
  color: #f907c0;
}


@keyframes background {
  to {
    background: #555;
    text-shadow: 0 0.1em 0.1em #012f33;
  }
}

@media (max-width: 850px) {
  body {
    justify-content: center;
  }
}


 { 
      border-right: 2px solid pink;
      height: 20px;
      position: absolute;
      right: 50%;
      margin-right: -3px;
      top: 0;
    } 
     
 {
     border-left: 2px solid pink;
      height: 20px;
      position: absolute;
      left: 50%;
      margin-left: -3px;
      top: 0;
    }
  
@media screen and (max-width: 700px) {
  body {
    background-color: black;
  }
} 
  
@media screen and (max-width: 480px) {
  body {
    background-color: yellow;
  }
}

@media (max-width: 1200px) {
  .border-animation {
    font-size: 5em;
    line-height: 1em;    
  }
}